<header>
    <div class="grid">
        <div class="col-3">
            <div class="logo">
                <img src="assets/logo.png" alt="" />
            </div>
        </div>

        <div class="col-4 search">
            <shopati-productsearch></shopati-productsearch>
        </div>
        <div class="col-3 p-offset-1 navigation">
            <shopati-nav></shopati-nav>
        </div>
    

        <div class="col-1 tools">
            <i class="pi pi-user"></i>
            <a routerLink="/cart">
                <shopati-shoppingcart></shopati-shoppingcart>
            </a>
        </div>
    </div>
</header>